.token {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  transform: translate(-50%, -50%);
}
.walk {
  background-color: green;
}
.run {
  background-color: orange;
}
.sprint {
  background-color: red;
}
